

  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
--font-family-Source:'Source Sans 3', sans-serif;

--color-blue-dark:#04146c;
--color-blue-france:#0a2ff1;

--font-weight-regular:400;
--font-weight-black:900;

--font-size-14pt:19px;
--font-size-16pt:21px;
--font-size-62pt:83px;

}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:var(--font-family-Source);
}

body{
    width: 100vw;
    height: max-content;
}

@media only screen and (min-width: 768px) {
    body {
        height: 100vh;
    }
  }


.texto>h1{
    font-size: var(--font-size-62pt);
    font-weight: var(--font-weight-black);
    color:var(--color-blue-dark);
}

.texto>p{
    font-size: var(--font-size-16pt);
    font-weight: var(--font-weight-regular);
    color:var(--color-blue-dark);
}

.texto>p>span{
    font-style: italic;
}


.imagen>img{
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .imagen>img {
        width: 80%;
    }
  }


.botonera>.btn{
    background-color: var(--color-blue-dark);
    color: #ffffff;
    border: none;
    border-radius: 0;
    font-variant: small-caps;
    width: 150px;
}